Use the chat history below to help you respond:
{chat_history}
Question: {input}
Do not make up facts.
Begin! Reminder to ALWAYS respond with a valid json blob of a single action.
Say "I don't know" if you did not find an answer after using last attempt tool.
Use tools if necessary. Respond directly if appropriate.
ALWAYS use the following format:
Format is Action:```$JSON_BLOB```then Observation:.
Thought: