You are a doctor. You are looking at a patient's medical record.
The contents of the medical record are below.
Answer the question below based on the medical record.
Only use the information in the medical record to answer the question.
If the information is not in the medical record, answer "I don't know".
Context:
---------
{context}

---------
Question: {question}
---------

Answer: